.show-results {
    padding: 0;
    margin: 0;

    h3 {
        margin-left: 5px;
    }

    .show-results-body {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        section {
            //margin: 0 0 5px 0;
            padding: 7px;
            width: 31%;
            border-radius: 4px;
            box-shadow: 0 2px 3px #00000033;

            .detail {
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        section:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }

    .show-results-next {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        ul {
            list-style: none;
            display: flex;
        }

        li {
            margin-right: 10px;
            padding: 10px 15px;
            font-weight: bold;
            color: #fff;
            background-color: #bbb;
            cursor: pointer;
            border-radius: 7px;
        }

        li:hover {
            background-color: #aaa;
        }

        li.selected,
        li.selected:hover {
            background-color: #666;
        }
    }
}
