.footer {
  padding: 0;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }

  li {
    padding: 2px 5px;
  }

  a:hover {
    background-color: #ddd;
  }
}
